DataSender/build-DataSender-Desktop_Qt_6_2_1_MinGW_64_bit-Debug/
DataVisualizer/build-DataVisualizer-Desktop_Qt_6_2_1_MinGW_64_bit-Debug
TODO.txt
DataSender/DataSender/.idea/
DataSender/DataSender/cmake-build-debug/
DataVisualizer/DataVisualizer/.idea/
DataVisualizer/DataVisualizer/cmake-build-debug/